*{
    margin:0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

header{
    position: sticky;
    flex-direction:row;
    top:30px;
    left:0;
    width:100%;
    padding:30px,100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
}

header .logo {
    margin-left: 25px;
    margin-top:-2px;
}

.logo{
    width: 25px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 15px;
    transition: background-color .25s, box-shadow .25s, border-radius .25s;
}

header ul li a:hover,header ul li a.active{
    background-color: brown;
    box-shadow: 0 0.5em 0.5em -.4em white;
    cursor: pointer;
    border-radius: 20px;
}

.joanne{
    display: flex;
    flex-direction: column;
    height:100vh;
    width:100%;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    

    background-attachment: fixed;
    background-image: url("backgroundimage.png");
    background-position: center;
    background-size: cover;
}

.joanne h2 {
    font-size: 26px;
    color: rgb(218, 112, 112);
}

.joanne h1 {
    font-size: 60px;
}


.background {
    width: 100%;
    background-color: #212121;
    min-height: 850px;
}

.background h4 {
    color: white;
    text-transform: uppercase;
}


footer div {
    width: 100%;
    height: 156px;
    background-color: #292C36;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 2%;
}

.flex{
    display: flex;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
    padding-left: 5%;
    padding-right:5%;
    color: white;
}

input {
    width: 60%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    margin-left: 20%;
    font-size: 20px;
    text-transform: uppercase;
}

.contactForm{
    width:80%;
    margin-top: 8em;
    background-color: rgb(59, 56, 56);
    border-radius: 15px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.messageBox{
    height: 150px;
    resize: vertical;
    width: 60%;
    padding: 12px 20px;
    margin: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.submitButton {
    width: 30%;
    background-color: rgb(208, 86, 86);
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase; 
    font-size: 20px; 
    font-weight: 600;
    margin-left:34%;
    transition: background-color .25s, box-shadow .25s, transform .25s;
}

.submitButton:hover{
    background-color:rgb(176, 73, 73);
    box-shadow: 0 0.5em 0.5em -.4em white;
    transform: translatey(-.1em);
    cursor: pointer;
}

#messageHead{
    font-size: 25px; 
    margin-left: 36%; 
    text-transform: uppercase;
}